@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('../fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Hairline';
    src: url('../fonts/Lato/Lato-Hairline.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-HairlineItalic';
    src: url('../fonts/Lato/Lato-HairlineItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Italic';
    src: url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: url('../fonts/Lato/Lato-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}
html{
    width: 100%;
    height: 100%;
    font-family: 'Lato-Regular';
    background-image: url(../images/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
body{
    font-family: 'Lato-Regular';
}
.login_wrapper{
    margin: 0 auto;
    max-width: 480px;
}
.login_content{
    padding: 0;
}
.login_content form{
    margin: 0;
}
.flex-container {
    height: 900px;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flex-item {
    height: 80px; /*whatever*/
    width: 100%;
    margin: auto;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    flex-grow: 1;
}
.form-item{
    flex-grow: 2;
}
.form{
    margin: auto;
    width: 92%;
    padding: 35px 50px 25px;
    background-color: #ffffff;
    border-radius: 6px;
}
.form-group{
    position: relative;
}
.login_content form input[type=text], .login_content form input[type=email], .login_content form input[type=password]{
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #cccccc;
}
.login_content form input[type=text]:focus, .login_content form input[type=email]:focus, .login_content form input[type=password]:focus{
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}

.form-group .btn{
    margin-top: 40px;
    margin-bottom: 24px;
}
.login .login_wrapper .separator {
	margin-top: 200px;
}
.login .login_wrapper .form-group .error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 3px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 3px 12px;
    position: absolute;
    font-size: 12px;
    z-index: 15;
    top: 30px;
    left: 10px;
}
.error-validate{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 3px;
    margin: 20px auto;
    margin-top: 0px;
    padding: 3px 12px;
    font-size: 12px;
    text-align: center;
}
.login .login_wrapper .form-group .error:before{
    border-color: transparent transparent #f2dede transparent;
    border-style: solid;
    border-width: 6px 8px;
    content: "";
    display: block;
    height: 0px;
    left: 10px;
    position: absolute;
    top: -12px;
    width: 0;
}

.login .login_wrapper .form-group {
	position: relative;
}
.login_content div .reset_pass{
    float: none;
    margin: 0;
    font-family: 'Lato-Regular';
}
.form-control-feedback{
    cursor: pointer;
    pointer-events: initial;
}
.author {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}
.author h5{
    color: #ffffff;
}
.btn{
    padding: 14px 20px;
    border-radius: 5px;
    text-shadow: none;
    height: 50px;
    font-family: 'Lato-Bold';
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #ffffff;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
}
.btn-default{
    border-color: #2c3e4f;
    background-color: #2c3e4f;
}
.btn-default:hover{
    border-color: #3d566e;
    background-color: #3d566e;
    color: #ffffff;
}
.btn-default:focus,.btn-default:active{
    border-color: #3d566e !important;
    background-color: #3d566e !important;
    box-shadow: none;
    color: #ffffff !important;
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    transform: translateY(3px);    
}
.btn_link{
    margin-top: 0 !important;
    padding: 4px;
    height: 30px;
    color: #73879C;
    margin-bottom: 0 !important;
}
.btn_link:active,.btn_link:focus{
    box-shadow: none;
}

.icon{
    background-repeat: no-repeat;
    background-position: center;
}
.icon-eye{
    background-image: url('../images/icon-eye.png');
    transition: all 0.2s;
}
.icon-eye:hover{
    background-image: url('../images/icon-eye-hover.png');
}
.form-group:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.form-group.focus:after {
    width: 100%;
    background-color: #3d566e;
}

.animate .form-item{
    perspective: 500px;
}
.animate .login_section{
    animation-name: listIn;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes listIn {
  0% {
    opacity: 0;
     transform: rotateX(-15deg) translateZ(-605px);
  }
  90% {
    opacity: 1;
     transform: rotateX(0deg) translateZ(20px);
  }
  100% {
    opacity: 1;
     transform: rotateX(0deg) translateZ(0px);
  }
}