body.nav-md .nav_title {
	border: 0;
}

body.nav-md .nav_title .site_title {
	padding: 0px 10px; 
	margin: 10px 0px;
}

body.nav-md .nav_title .site_title img {
	width: 100%;
}



/************* Page Actualización & Corrección *************/

blockquote {
    padding: 5px 15px;
    margin: 10px 0px 20px;
    font-size: 20px;
    border-left: 5px solid #eee;
}

blockquote .subtitle {
    display: block;
    font-size: 70%;
    line-height: 1.42857143;
    color: #777;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

blockquote .subtitle:before {
    content: '\2014 \00A0';
}

body .container .x_panel .x_title .panel_toolbox li > a {
	color: #777 !important;
}


/************* Page Manual Grilla *************/

body .container .x_panel .x_content .img-manual {
	max-width: 100px;
    display: block;
    margin: 10px auto;
    -webkit-filter: grayscale(10%);
    opacity: 0.8;
}

body .container .x_panel .x_content .thumbnail .caption {
	text-align: center;
}

body .container .x_panel .x_title .panel_toolbox .collapse-grilla {
    background: #F5F7FA;
}


/************* Page Videos *************/

body .container .x_panel .x_content .col-md-55-video {
    width: 25% !important;
}

body .container .x_panel .x_content .col-md-55-video .thumbnail .image {
    height: 170px !important;
}

body .container .x_panel .x_content .col-md-55-video .thumbnail .image .mask.no-caption .tools {
    margin: 138px 0 0 !important;
}

body .container .x_panel .x_content .thumbnail .caption-video {
    text-align: left;
}

body .container .x_panel .x_content .thumbnail .caption-video strong {
    line-height: 22px;
    font-size: 20px;
    /*line-height: 20px;
    font-size: 18px;*/
    font-weight: 500;
}

body .container .x_panel .x_content .modal-dialog {
    display: block;
    margin: auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    top: 20%;
}

body .container .x_panel .x_content .modal-dialog .close {
    color: #fff !important;
    opacity: 0.7 !important;
}

body .container .x_panel .x_content .modal-dialog .close:hover {
    color: #fff !important;
    opacity: 0.7 !important;
}