body.nav-md .nav_title {
	border: 0;
}

body.nav-md .nav_title .site_title {
	padding: 0px 10px; 
	margin: 10px 0px;
}

body.nav-md .nav_title .site_title img {
	width: 100%;
}

body .side-menu > li > a {
    text-transform: uppercase;
}

.x_title h2 {
    text-transform: uppercase !important;
}

.x_title h2 small {
    text-transform: lowercase !important;
}

table.table-bordered thead>tr>th, 
table.table-bordered tfoot>tr>th {
    text-align: center !important;
}

table.table-bordered tbody>tr>td, 
table.table-bordered tbody>tr>th {
    vertical-align: middle !important;
}

table.table-bordered tbody>tr>td.td-center {
    text-align: center !important;
}

.chevron-up-right {
    float: right !important;
}

.div-loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5000;
}

.div-loading .img-loading {
    display: block;
    margin: 20% auto;
}

.product_social {
    margin: 15px 10px !important;
    display: block;
}

.product_social .list-inline li a {
    width: 26px;
    height: 26px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: block;
    border-radius: 5px;
}


/************* Page Actualización & Corrección *************/

blockquote {
    padding: 5px 15px;
    margin: 10px 0px 20px;
    font-size: 20px;
    border-left: 5px solid #eee;
}

blockquote .title {
    text-transform: capitalize;
}

blockquote .subtitle {
    display: block;
    font-size: 70%;
    line-height: 1.42857143;
    color: #777;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

blockquote .subtitle:before {
    content: '\2014 \00A0';
}

body .container .x_panel .x_title .panel_toolbox li > a {
	color: #777 !important;
}


/************* Page Manual Grilla *************/

body .container .x_panel .x_content .img-manual {
	max-width: 100px;
    display: block;
    margin: 10px auto;
    -webkit-filter: grayscale(10%);
    opacity: 0.8;
}

body .container .x_panel .x_content .thumbnail .caption {
	text-align: center;
}

body .container .x_panel .x_title .panel_toolbox .collapse-grilla {
    background: #F5F7FA;
}

body .container .x_panel .x_title .panel_toolbox .collapse-grilla:hover {
    background: #F5F7FA !important;
}

body .container .x_panel .x_title .panel_toolbox .collapse-list:hover {
    background: #F5F7FA !important;
}

/************* Page Videos *************/

body .container .x_panel .x_content .col-md-55-video {
    width: 25% !important;
}

body .container .x_panel .x_content .col-md-55-video .thumbnail .image {
    height: 170px !important;
}

body .container .x_panel .x_content .col-md-55-video .thumbnail .image .mask.no-caption .tools {
    margin: 138px 0 0 !important;
}

body .container .x_panel .x_content .thumbnail .caption-video {
    text-align: left;
}

body .container .x_panel .x_content .thumbnail .caption-video strong {
    line-height: 22px;
    font-size: 20px;
    font-weight: 500;
}

body .container .x_panel #modal-video {
    padding-right: 0px !important;
}

body .container .x_panel .modal-dialog {
    margin: auto;
    padding: 10px 10px 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    top: 20%;
    position: relative !important;
}

body .container .x_panel .modal-dialog .close {
    color: #fff !important;
    opacity: 0.7 !important;
    position: absolute;
    top: -20px;
    right: -20px;
    background: rgba(0,0,0,0.8);
    border-radius: 50%;
    padding: 0px 5px;
}

body .container .x_panel .modal-dialog .close:hover {
    color: #fff !important;
    opacity: 0.7 !important;
}


ul.list-icono {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

ul.list-icono li {
    padding: 0px 30px 10px 0px;
    display: block;
    float: left;
}

ul.list-icono li label i.fa-icono,
ul.list-icono li input.icono-product {
    cursor: pointer;
}

.fa-icono {
    font-size: 30px;
}

/************* Page User *************/

#div-alert {
    display: none;
}

.clear-both {
    clear: both;
}

/************* Page File *************/

.span-div {
    text-transform: uppercase;
    line-height: 30px;
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    margin-bottom: 0;
}

/************* Page Menu *************/

.menu-sup li .sub_menu {
    text-transform: capitalize;
}

.badge-success {
    float: right;
    margin-right: 15px;
    background: #d9534f;
    background: #1ABB9C;
}

.input-none {
    display: none;
}

textarea.form-control {
    resize: vertical !important;
}


/************* Page Inicio *************/

.info-reciente .x_title small {
    text-transform: none !important;
}

.info-reciente .widget_tally_box .ui-ribbon-container {
    height: 280px;
    margin-bottom: 20px;
}

.info-reciente .widget_tally_box .state-ribbon {
    display: none;
}

.info-reciente .widget_tally_box .tile-stats {
    border: 0px solid #E4E4E4;
    margin-bottom: 0px;
}

.info-reciente .widget_tally_box .tile-stats h3 {
    text-transform: uppercase;
}

.info-reciente .widget_tally_box .tile-stats .divider {
    border-bottom: 2px solid #ddd;
}

.info-reciente .widget_tally_box .x_content .name_title {
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
}

.info-reciente .widget_tally_box .x_content .list-inline.widget_tally {
    margin-left: 0px;
}

.info-reciente .widget_tally_box .x_content .list-inline.widget_tally .month {
    text-align: left;
}

.info-reciente .widget_tally_box .x_content .list-inline.widget_tally .count .badge {
    text-align: right;
    margin-right: 0px;
}

.info-reciente .ui-ribbon-container .ui-ribbon {
    z-index: 5;
    background: #DF6D69;
}

.info-reciente .ui-ribbon-container .ui-ribbon::before,
.info-reciente .ui-ribbon-container .ui-ribbon::after {
    border-top: 2px solid #DF6D69;
}


/********* ACTUALIZACION & CORRECCION *********/

.table.table-correccion thead tr th,
.table.table-correccion tbody tr th,
.table.table-correccion tbody tr td,
.table.table-actualizacion thead tr th,
.table.table-actualizacion tbody tr th,
.table.table-actualizacion tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.table.table-correccion tbody tr td:nth-child(3),
.table.table-actualizacion tbody tr td:nth-child(3) {
    text-align: justify !important;
}